<h1>Create a new Celebrity</h1>
<form action="/celebrities/create" method="post">
  <div>
    Name<input type="text" name="name">
  </div>

  <div>
    Occupation:<input type="text" name="occupation">
  </div>

  <div>
    CatchPhrase:<input type="text" name="catchPhrase">
  </div>

  <button type="submit">Create</button>
</form>