<h1>{{ celebrity.name }}</h1>
  <ul>
      <li>{{ celebrity.occupation}}</li> 
      <li>{{celebrity.catchPhrase }}</li>
  </ul>

<a href="/celebrities">Back to list</a>

<form action="/celebrities/{{celebrity._id}}/delete" method="post">
  <button type="submit">Delete</button>
</form>