<h1>{{ celebrity.name }}</h1>
  <ul>
      <li>Occupation: {{ celebrity.occupation}}</li> 
      <li>Catch Phrase: {{celebrity.catchPhrase }}</li>
  </ul>

<form action="/celebrities/{{celebrity._id}}/delete" method="post">
  <button type="submit" class="btn btn-primary">Delete celebrity</button>
</form>

<a class="btn btn-primary" href="/">Back to list</a>