<a href="/celebrities/create">New Celebrity</a>

<ul>
  {{#each celebrities as |celebrity| }}
    <li> {{ celebrity.email }} <a href="/celebrities/{{ celebrity._id }}">View</a></li>
  {{/each }}
</ul>