<a class="btn btn-primary" href="/celebrities/create">New Celebrity</a>

<ul>
  {{#each celebrities as |celebrity| }}
    <li> {{ celebrity.name }}
      <a href="/celebrities/{{ celebrity._id }}">View</a></li>
  {{/each }}
</ul>