html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 16px;
  font-family: 'Staatliches', cursive;
}

.index-container {
  display: flex;
  padding: 0;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
}

.movies-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex: 1 1 60%;
  min-height: 100vh;
  background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
}

.movies-subcontainer {
  margin: 2em;
}


.celebrities-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex: 1 1 40%;
  min-height: 100vh;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.celebrities-subcontainer {
  margin: 2em;
}

.table {
  margin: 3em 0;
}

.create-form {
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: flex-start;
  flex: 1 1 50%;
  min-height: 100vh;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}